body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 80%;
    min-height: 100%;
}

form {
    grid-column: 3 / span 2 ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:15rem;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease;
}

main {
    grid-row: 2;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

aside {
    grid-row: 2;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}